body {
  text-align: center;
  margin: 0 10%;
}

.charts {
  margin: 0 10% 12px 10%;
}

span + span {
  margin-left: 24px;
}

.button_active {
  opacity: 1;
  margin-top: 12px;
}

.button_inactive {
  opacity: 0.4;
  margin-top: 12px;
}

.hide {
  display: none;
}